.subtleEdge {
  display: block;
  width: 100%;
  height: 16px;
  position: absolute;
  left: 0;
}

.subtleEdge path {
  fill: var(--edge-color, #dec79b);
  opacity: 0.55;
}
.subtleEdge.flip {
  bottom: 15px;
  transform: scaleY(-1);
}
